<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/img/img.png" class="profile-card__avatar"/>
    <div class="profile-card__name">
      <strong class="h6"> {{nickname}} </strong>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>
  <div class="profile-card__description">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis animi veniam dignissimos voluptates veritatis, reprehenderit beatae, quidem quia dolore ut cum esse in excepturi voluptate ex assumenda architecto officia omnis?</span>
  </div>
  <div class="profile-card__tags">
    <div class="skill-tags">Angular</div>
    <div class="skill-tags">HTML</div>
    <div class="skill-tags">JS</div>
    <div class="skill-tags">SCSS</div>
  </div>
  <div class="message-btn">
    <button class="btn">
      Подписаться
    </button>
  </div>
</div>
